* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

h4 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #444343;
}

/* banner section styles */
.banner-container {
    background-image: url("../images/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-items {
    text-align: right;
    padding: 230px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
}

.banner-dsc {
    margin: 30px 0;
}

.banner-btn {
    color: #ffffff;
    background-color: #F15B22;
}

/* failures section styles */
.failures-container {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.failures-dsc {
    margin: 20px 0;
}

ul {
    list-style: none;
}

ul li {
    font-size: 16px;
    color: #444343;
}

ul li:before {
    content: '✓';
}

/* my plans section styles */
.my-plans-container {
    text-align: center;
    margin-bottom: 100px;
}

.my-plans-items {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 50px 0;
    padding: 10px;
}

.my-plans-items p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
}

/* cta section styles */

.cta-container {
    margin: auto;
    max-width: 1050px;
    background: linear-gradient(to right, #F15B22, transparent), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 5px;
}

.cta-container h2 {
    color: #ffffff;
}

.cta-btn {
    color: #F15B22;
    margin-top: 10px;
}

/* footer section styles */
.footer-container {
    background-color: #151414;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    padding: 150px;
}

.footer-container p {
    color: #ffffff;
    margin-top: 15px;
}

.socials {
    margin-top: 15px;
}

.socials a {
    text-decoration: none;
    margin-right: 15px;
}

.footer-right h4 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 25px;
}

.input-field {
    display: block;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #151414;
    border: 1px solid #ffffff;
    color: #F3F3F3;
    font-size: 18px;
    width: 100%;
}

.subscribe-btn {
    color: #F15B22;
}